main {

    background-color: brown;
    margin-left: 200;
    margin-right: 200;
    
    padding: 1;

}

.box {
    background-color: yellow;
    
    margin: 5px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}